
html,
body {
    font-family: 'Roboto', sans-serif;
}


.categorie{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 95%;
    margin-top: 10px;
    border-radius: 10px;
    gap: 5px;
    color: white;
    font-size: 12px;
    /* uppercase */
    text-transform: uppercase;
}

.categorie img{
    width: 40px;
    height: 40px;
    padding-right: 5px;
    border-right: white solid 1px;
}

.categorie * {
    margin-left: 5px;
}

.popup-img {
    width: 100px;
}


.popup-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.leaflet-popup-content-wrapper {
    width: 310px; 
    border-radius: 20px !important ;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  
  .leaflet-popup-content {
    width: 100%; /* set the width of the popup content to 100% of its parent */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .leaflet-popup-content {
    margin: 0 !important;
  }
  
  .flex-adresse-logo{
    height: 120px !important;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    
  }

  .flex-adresse-logo p:first-of-type{
    margin-bottom: 0 !important;
  }

  .flex-adresse-logo p:last-of-type{
    margin-top: 0 !important;
  }

  .flex-adresse-logo p{
    font-weight: bold;
  }

  .leaflet-popup-content > div{
    height: 50px;
    
  }
  

.icone-map {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}


.flex-legende-map {
    display: flex;
    gap: 1px;
}

#map {
    height: 800px;
    width: 70%;
}

#legende {
    height: 800px;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.titre-legende,
.details {
    cursor: pointer;
}

#approvisionnement {
    background-color: #19966a;
    height: 50%;
    color: white;

}

#appro-ini {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#appro-sec {
    display: none;
    height: 100%;
    overflow-y: scroll;
}

#developpement-technologique {
    background-color: #e4a545;
    height: 50%;
    color: white;
}

#dev-tech-ini {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#dev-tech-sec {
    display: none;
    height: 100%;
    overflow-y: scroll;
}


#approvisionnement p {
    margin: 0;
}

#developpement-technologique p {
    margin: 0;
}

.titre-legende {
    font-size: 35px;
}

.details {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 1s ease-in-out, height 0s ease-in-out 1s;
}

.details.show {
    opacity: 1;
    height: auto;
    transition-delay: 0s;
}


/*  div verte  */

.div-convertisseurs {
    background-color: #aa7479;
}

.div-grossistes {
    background-color: #519368;
}

.div-impression {
    background-color: #d4ae4b;
}

.div-co-emballage {
    background-color: #99b8b9;
}

/* div jaune */

.div-recherche {
    background-color: #ab6f72;
}

.div-analyse-performance {
    background-color: #519368;
}

.div-innocuite {
    background-color: #d4ae4b;
}

.div-analyse-cycle-vie {
    background-color: #ba674d;
}

.div-ecoconception {
    background-color: #db9762;
}

.div-gestion-distribution {
    background-color: #99b8b9;
}

.div-gestion-emballage {
    background-color: #aa84b1;
}

.div-recyclage {
    background-color: #c57faa;
}

.div-compostage {
    background-color: #3c71b6;
}


/* fin couleur */

.mini-div {
    border-radius: 10px;
    margin: 20px;
    height: 84px;
}


.flex-mini-div {
    display: flex;
    align-items: center;
    border-bottom: solid .1px rgb(52, 52, 52);
    border-radius: 10px;
    height: 84px;
}

#appro-sec>div>img {
    width: 70px;
}

.icone-down-up {
    width: 40px;
}

.div-icone-map {
    width: 15%;
    margin-left: 5px;
}

.div-texte {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
}

.div-texte p {
    margin: 0;
    font-size: 20px;
}

.div-icone-up-down {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;

}

.titre-mini-div {
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
    color: black;
    flex: 20%;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #e1e2e4;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-logo {
    margin-left: 15px;
    margin-right: 10px;
    height: 118px;
    display: none;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0px;
    align-items: center;
}

.flex-logo > div {
    width: calc(33.33% - 10px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.flex-logo img {
    width: 100px;
}


#cat-F {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#cat-F p {
    color: rgb(58, 58, 58);
    font-size: 14px;
    margin-left: 15px;
    display: none;
    
}

#legende-mobile{
    display: none;
}

/* Change the width and height of the scrollbar */
::-webkit-scrollbar {
    width: 4px;
    height: 10px;
}

/* Change the background color of the scrollbar track */
::-webkit-scrollbar-track {
    background-color: #f2f2f2;
}

/* Change the color of the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: #888;
}

/* Change the color of the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}


#icone-map-mobile {
    display: none;
}

#appro-sec-mobile {
    display: none;
}

#dev-tech-sec-mobile {
    display: none;
}