/* media for screen smaller than 1580 px */
@media screen and (max-width: 1580px) {
    .div-texte p {
        font-size: 18px;
    }

    .flex-logo img{
        width: 90px;
    }
}

@media screen and (max-width: 1440px) {
    .div-texte p {
        font-size: 17px;
    }

    .flex-logo img{
        width: 80px;
    }

    .titre-legende {
        font-size: 30px;
    }

    .titre-mini-div{
        font-size: 24px;
    }
}

@media screen and (max-width: 1280px) {
    .div-texte p {
        font-size: 15px;
    }

    .flex-logo img{
        width: 75px;
    }

    #map {
        width: 65%;
    }

    #legende {
        width: 35%; 
    }

    #cat-F p {
        font-size: 13px;
    }

    .titre-legende {
        font-size: 27px;
    }

    .titre-mini-div{
        font-size: 22px;
    }

    .icone-down-up {
        width: 36px;
    }
}

@media screen and (max-width: 1024px) {
    .div-texte p {
        font-size: 14px;
    }

    .flex-logo img{
        width: 65px;
    }

    #map {
        width: 60%;
    }
    
    #legende {
        width: 40%; 
    }

    #cat-F p {
        font-size: 11px;
    }

    .titre-legende {
        font-size: 24px;
    }

    .flex-logo{
        height: 100px;
    }

    .titre-mini-div{
        font-size: 20px;
    }

    .icone-down-up {
        width: 33px;
    }
}

@media screen and (max-width: 768px) {
    .div-texte p {
        font-size: 12px;
    }

    .flex-logo img{
        width: 60px;
    }

    #map {
        width: 55%;
    }

    #legende {
        width: 45%; 
    }

    #cat-F p {
        font-size: 11px;
    }

    .titre-legende {
        font-size: 22px;
    }

    .titre-mini-div{
        font-size: 17px;
    }

    .icone-down-up {
        width: 30px;
    }
}

@media screen and (max-width : 650px) {
    .div-texte p {
        font-size: 11px;
    }

    .flex-logo img{
        width: 55px;
    }

    #map {
        width: 50%;
    }

    #legende {
        width: 50%; 
    }

    #cat-F p {
        font-size: 10px;
    }

    .titre-legende {
        font-size: 20px;
    }

    .titre-mini-div{
        font-size: 15px;
    }

    .icone-down-up {
        width: 27px;
    }
    
}

/* media for screen smaller than 425 px */

@media screen and (max-width: 550px) {
    #map {
        width: 100%;
    }

    #legende {
        display: none;
    }

    #legende-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;

    }

    #legende-mobile>div {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .titre-legende {
        font-size: 17px;
        margin: 0;
    }

    .flex-legende-map{
        flex-direction: column;
        margin: 15px;
    }

    #approvisionnement-mobile {
        height: 100%;
        background-color: #19966a;
        color: white;
    }

    #developpement-technologique-mobile{
        height: 100%;
        background-color: #e4a545;
        color: white;
    }
    
    #map {
        height: 650px;
    }
}