/* only for large screen */
@media screen and (max-width: 1900px) {
    #suite-description{
        display: none;
    }
}

/* media for screen smallet than 1200px */
@media screen and (max-width: 1200px) {
    .aProposImg{
        height: 744px;
    }
}

/* media for screen smallet than 970px */
@media screen and (max-width: 960px) {
    .flexCustomer {
        flex-wrap: wrap;
        flex-direction: column;
        gap: 20px;
    }

    .flexCustomer>div:not(:first-child) {
        display: none;
    }

    .customer {
        width: 50%;
        margin-bottom: 50px;
    }

    .customer img {
        width: 120px;
    }

    #customer {
        padding-bottom: 50px;
    }

    .flexCustomer>div:first-child {
        position: relative;
    }

    .dot-container {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }

    .dot-container span {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #ccc;
        margin: 0 5px;
        cursor: pointer;
    }

    .dot-container span.active {
        background-color: #333;
    }
}

/* media for 768 */

@media screen and (max-width: 1020px) {
    #suite-description{
        display: block;
    }
}

/* media for screen smallet than 600px */
@media screen and (max-width: 600px) {
    .customer {
        width: 80%;
    }

    #suite-description{
        display: none;
    }
}

/* media for screen smallet than 450px */
@media screen and (max-width: 450px) {

    .flexServices>div:not(:first-child) {
        display: none;
    }

    .dot {
        text-align: center;
    }

    .dot span {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 5px;
        background-color: gray;
        cursor: pointer;
    }

    .dot span.active {
        background-color: black;
    }

    .flexServices img {
        width: 110px;
    }

    .flexServices b {
        margin-top: 30px;
        font-size: 20px;
    }

    #about {
        margin-top: 50px;
        padding: 0;
    }

    #services {
        /* margin-top: 30px; */
        padding-top: 10px;
        padding-bottom: 50px;
    }

    #customer {
        margin-top: 30px;
        padding-top: 10px;
    }

    .flexServices {
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .flexAPropos {
        margin-top: 50px;
        margin-bottom: 0px;
    }

    .flexCustomer {
        margin-top: 30px;
        margin-bottom: 0px;
    }

}

/* media for screen smallet than 1020px */

@media screen and (max-width: 1020px) {
    .flexAPropos {
        flex-direction: column;
        margin-left: 40px;
        margin-right: 40px;
    }

    .aProposImg {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .flexDescription>div {
        padding: 40px;
    }
}

/* media for screen smaller than 680px */

@media screen and (max-width: 680px) {
    .flexAnimation div {
        text-align: center;
        font-size: 15px;
    }

}

/* media for screen smaller than 380px */

@media screen and (max-width: 380px) {
    .flexAnimation div {
        text-align: center;
        font-size: 12px;
    }

    .flexAPropos {
        margin-left: 20px;
        margin-right: 20px;
    }

}


/* For screens smaller than 768px (tablets) */
@media (max-width: 768px) {
    div.drop {
        top: -85%;
        border-radius: 100% 5% 100% 100%;
    }

    div.drop-container:before,
    div.drop-container:after {
        top: 60%;
    }

    .hero-text{
        margin-top: 200px;
    }
}

/* For screens smaller than 480px (phones) */
@media (max-width: 480px) {
    div.drop {
        top: -75%;
        border-radius: 100%;
    }

    div.drop-container:before,
    div.drop-container:after {
        top: 65%;
    }

    @keyframes dripple {
        0% {
            width: 75px;
            height: 75px;
        }

        25% {
            opacity: 1;
        }

        100% {
            width: 250px;
            height: 250px;
            top: -10%;
            opacity: 0;
        }
    }
}

@media screen and (max-width: 1100px) {
    .hero-text {
        margin-left: 200px;
    }
}

@media screen and (max-width: 768px) {
    .drop-container{
        display: none;
    }
    .hero-text {
        margin-left: 0;
        flex-direction: column;
    }

    .hero{
        align-items: center;
        justify-content: center;
        height: 800px;
        position:sticky;
        /* z-index: -100; */
    }



    .hero-description{
        text-align: center;
    }

    .cirle-responsive{
        display: flex;
    }
}

@media screen and (max-width: 480px) {}

/* media smaller than 1100px */
