.flexChambres{
    display: flex;
    /* distance between */
    justify-content: space-between;
}

.flexExtras{
    display: flex;
    /* distance between */
    justify-content: space-between;
    gap: 10px;
}

.flexExtras p{
    text-align: center;
}

.flexExtras img{
    width: 100px;
}

.flexChambres p {
    text-align: center;
}

#mainEstimation img{
    cursor: pointer;
}

#mainEstimation{
    border: rgb(216, 216, 216) 1px solid;
    border-radius: 5px;
    margin: 50px 200px ;
    padding: 20px;
}

#form span{
    color: red;
    font-size: 20px;
}

h2{
    text-align: center;
    margin-top: 50px;
}

.titre{
    margin-top: 50px;
}

.flexChambres img{
    width: 180px;
}

#chambres{
    display: none;
}

#extras{
    display: none;
}

#pieces {
    display: none
}

#formulaire2{
    display: none;
}

#formulaire1{
    /* display: none; */
}
.selected{
    border: 2px solid rgb(0, 106, 255);
    transform: scale(0.9);
    padding: 10px;
}

#suivant{
    display: none;
}

.divBouton{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}

#form p{
    margin-top: 10px;
}

#form{
    border: rgb(237, 237, 237) 1px solid;
    border-radius: 10px;
    margin-top: 56px;
    /* shadow */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: rgb(255, 246, 247);
}

#form p:first-of-type{
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}

.red{
    color: red;
}

.form-controle {
    display: block;
    width: 95%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


/* media between 1365 and 1025 */

@media screen and (min-width: 1025px) and (max-width: 1365px) {
    .flexChambres img {
      width: 150px;
    }

    #mainEstimation{
        margin: 50px;
        padding: 20px;
    }
    
    .debutForm{
        font-size: 13px;
    }

    .flexChambres p, .flexExtras p{
        font-size: 12px;
    }

    .selected{
        transform: scale(1.1);
        padding: 5px;
    }

    .flexExtras img{
        width: 80px;
    }

    #formulaire2 p {
        font-size: 13px;
    }

    .titre{
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .form-controle {
        width: 95%;
        margin: 0;
    }
    
  }

/* media query for 1024 or less */
@media screen and (max-width: 1024px) {
    .flexChambres img {
      width: 100px;
    }

    #mainEstimation{
        margin: 50px;
        padding: 20px;
    }
    
    .debutForm{
        font-size: 13px;
    }

    .flexChambres p, .flexExtras p{
        font-size: 12px;
    }

    .selected{
        transform: scale(1.1);
        padding: 5px;
    }

    .flexExtras img{
        width: 60px;
    }

    #formulaire2 p {
        font-size: 13px;
    }

    .titre{
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .form-controle {
        width: 95%;
        margin: 0;
    }
    
  }

  
/* media query for mobile view */
@media screen and (max-width: 660px) {
    .flexChambres img {
      width: 60px;
    }

    #mainEstimation{
        margin: 10px ;
        /* padding: 20px; */
    }
    
    .debutForm{
        font-size: 13px;
    }

    .flexChambres p, .flexExtras p{
        font-size: 12px;
    }

    .selected{
        transform: scale(1.1);
        padding: 5px;
    }

    .flexExtras img{
        width: 40px;
    }

    #formulaire2 p {
        font-size: 13px;
    }

    .titre{
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .form-controle {
        width: 90%;
    }

    #mainEstimation{
        margin: 15px;
    }

    #form p:first-of-type{
        text-align: center;
        font-size: 15px;
        margin-bottom: 20px;
    }
    
  }

  /* less than 380px */
    @media screen and (max-width: 450px) {
        .flexChambres img {
        width: 55px;
        }

        .flexChambres p, .flexExtras p{
        font-size: 12px;
        }
    
        #mainEstimation{
            margin: 10px ;
            /* padding: 20px; */
        }
        
        .debutForm{
            font-size: 13px;
        }
    
       
    
        .selected{
            transform: scale(1.1);
            padding: 5px;
        }

        .flexChambres{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 4%;
        }

        .flexChambres > div{
            flex-basis: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

        }
    
        .flexExtras{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 4%;
        }

        .flexExtras > div{
            flex-basis: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

        }

        .flexExtras img{
            width: 50px;
        }
    
        #formulaire2 p {
            font-size: 13px;
        }
    
        .titre{
            margin-bottom: 30px;
            margin-top: 30px;
        }
    
        .form-controle {
            width: 90%;
        }
    
        #mainEstimation{
            margin: 15px;
        }
    
        #form p:first-of-type{
            text-align: center;
            font-size: 15px;
            margin-bottom: 20px;
        }
        
    }